.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  background: #FFFFFF no-repeat center fixed;
  -webkit-background-size: cover;
  background-size: cover;
}
